*{
  box-sizing: border-box;
}
.body{
  font-family: "Noto Sans", sans-serif;
}
.navbar{
  display: flex;
  align-items: center;
  color: white;
  height: 94px;
  position: relative;
  border-bottom: 1px solid rgba(235, 235, 240, 0.2);
}
.logo-link{
  padding: 25px 50px;
 border-right: 1px solid rgba(235, 235, 240, 0.2);
 height: 100%;
}
.header{
  min-height: 100vh;
}
.header-image{
  background-image: url(../img/header-bg.png);
  background-size: contain; /*чтоб изображение заполняло все пространство */
  background-repeat: no-repeat; /*оно закончилось и повторяется мы пишем не повторяйся */
   background-size: cover; /*во весь экран */
  background-position: center; /*чтоб начиналось из центра */
  position: relative;
  /* делаем прозрачную плашку для затемнения */
}
.header-image::before{
  content: "";
   position: absolute; /*позиция плашки абсолютная относительно ее родителя */
   top: 0;/*плашка прилегает к самому верху экрана  */
   left: 0; /*отступа сверху и слева нет */
   background-color: rgba(41, 45, 51, 0.6);
   width: 100%;
   height: 100%;
    z-index: 0; /*будет лежать в самом низу в слоях */
}
.header-nav{
  flex-basis: 100%;
  display: flex;
  list-style: none;
  padding: 0 50px;
  margin: 0;
}
.header-nav-link{
  text-decoration: none;
  font-size: 16px;
  margin-right: 50px;
  color: inherit;
}
.header-phone{
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 50px;
}
.header-phone-link{
  text-decoration: none;
  font-size: 16px;
  color: inherit;
}
.button{
font-family: "Noto Sans";
font-style: SemiBold;
font-size: 16px;
font-weight: 600;
line-height: 160%;
color: rgba(255, 255, 255, 1);
background: rgba(58, 113, 209, 1);
display: flex;
align-items: center;
justify-content: center;
gap: 10px;
padding: 25px 60px 25px 60px;
border: none;
flex-shrink: 0;
}
.header-button{
  height: 100%;
}